<div class="side-header">
  <div class="header-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="chat-room">
    <div class="chat-room-name">
      <a href="#">techroom</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>
   